body {
  margin: 0;
  width: 100%;
  height: 100vh;

  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: calc(18 / 12); /* 150% */

  color: #12141780;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
